# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If you use dotenv for secrets
.env

# VSCode / PyCharm / IDE
.vscode/
.idea/

# Pip tools
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store
